.page {
    font-family: "Inter", Arial, sans-serif ;
    font-size: 16px;
    line-height: 20px;
    max-width: 1600px;
    min-width: 1100px;
    margin: 0 auto;
}

.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-image: url(../images/background_header.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header__image {
    position: absolute;
    z-index: 1;
    max-width: 550px;
    top: 148px;
    right: 48px;;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;

}

.nav__link {
    color: #000;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__title {
    max-width: 729px;
    font-size: 60px;
    line-height: 70px;
    margin: 183px 0 0;
    letter-spacing: -0.6px;
    font-weight: 500;
}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
}

.header__span-accent {
    display: block;
    color: #3f96f3;
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;

}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    align-items: end;
}

.header__paragraph {
    margin: 0;
}

.recipes {
    padding: 100px 80px 215px;
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
}

.recipes__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.recipes__videos {
    display:flex;
    gap: 100px;
    justify-content: center;
    margin-top: 80px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

    .recipes__iframe {
        border: 0px;
    }

    .recipes__iframe {
        border: 0px;
    }
